/*   **********   COLORS   **********   */
:root {
  --postcard-tag__item-background: #53535366;
  --postcard-tag__item-background-hover: #535353cc;
  --green-color: #79dd09;
  --green-gradient: #79dd091a;
  --blue-color: #0076bd;
  --blue-gradient: #0076bd1a;
  --red-color: #bd150b;
  --red-gradient: #bd150b1a;
  --yellow-color: #bdbb49;
  --yellow-gradient: #bdbb491a;
  --purple-color: #712a77;
  --purple-gradient: #712a771a;
}
@media (prefers-color-scheme: light) {
  :root {
    --postcard-color: #fff;
    --postcard-background-color: #e1e5ea;
    --postcard-text-color: #18151f;
    --postcard-button-text-color: #efefef;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --postcard-color: #000;
    --postcard-background-color: #18151f;
    --postcard-text-color: #d0d0d0;
    --postcard-button-text-color: #18151f;
  }
}
.postcard { color: var(--postcard-color); background-color: var(--postcard-background-color); }
.postcard:before { background-image: linear-gradient(-70deg, #424242, transparent 50%); }
.postcard .postcard__text { color: var(--postcard-text-color); }
.postcard .postcard__tagbox .tag__item { background: var(--postcard-tag__item-background);  }
.postcard .postcard__tagbox .tag__item:hover { background: var(--postcard-tag__item-background-hover);  }
/*  **********  */
.postcard .postcard__tagbox .green.play { background: var(--green-color); }
.postcard .postcard__tagbox .green.play a { color: var(--postcard-button-text-color) !important; }
.green .postcard__title a, .green .postcard__bar { color: var(--green-color) !important; }
.green .postcard__bar { background-color: var(--green-color); }
.green::before { background-image: linear-gradient(-30deg, var(--green-gradient), transparent 50%); }
.green:nth-child(2n)::before { background-image: linear-gradient(30deg, var(--green-gradient), transparent 50%); }
/*  **********  */
.postcard .postcard__tagbox .blue.play { background: var(--blue-color); }
.postcard .postcard__tagbox .blue.play a { color: var(--postcard-button-text-color) !important; }
.blue .postcard__title a, .blue .postcard__bar { color: var(--blue-color) !important; }
.blue .postcard__bar { background-color: var(--blue-color); }
.blue::before { background-image: linear-gradient(-30deg, var(--blue-gradient), transparent 50%); }
.blue:nth-child(2n)::before { background-image: linear-gradient(30deg, var(--blue-gradient), transparent 50%); }
/*  **********  */
.postcard .postcard__tagbox .red.play { background: var(--red-color); }
.postcard .postcard__tagbox .red.play a { color: var(--postcard-button-text-color) !important; }
.red .postcard__title a, .red .postcard__bar { color: var(--red-color) !important; }
.red .postcard__bar { background-color: var(--red-color); }
.red::before { background-image: linear-gradient(-30deg, var(--red-gradient), transparent 50%); }
.red:nth-child(2n)::before { background-image: linear-gradient(30deg, var(--red-gradient), transparent 50%); }
/*  **********  */
.postcard .postcard__tagbox .yellow.play { background: var(--yellow-color); }
.postcard .postcard__tagbox .yellow.play a { color: var(--postcard-button-text-color) !important; }
.yellow .postcard__title a, .yellow .postcard__bar { color: var(--yellow-color) !important; }
.yellow .postcard__bar { background-color: var(--yellow-color); }
.yellow::before { background-image: linear-gradient(-30deg, var(--yellow-gradient), transparent 50%); }
.yellow:nth-child(2n)::before { background-image: linear-gradient(30deg, var(--yellow-gradient), transparent 50%); }
/*  **********  */
.postcard .postcard__tagbox .purple.play { background: var(--purple-color); }
.postcard .postcard__tagbox .purple.play a { color: var(--postcard-button-text-color) !important; }
.purple .postcard__title a, .purple .postcard__bar { color: var(--purple-color) !important; }
.purple .postcard__bar { background-color: var(--purple-color); }
.purple::before { background-image: linear-gradient(-30deg, var(--purple-gradient), transparent 50%); }
.purple:nth-child(2n)::before { background-image: linear-gradient(30deg, var(--purple-gradient), transparent 50%); }
/*  **********  */
@media screen and (min-width: 1024px) {
  .postcard .postcard__text:before { background: var(--postcard-background-color); }
}
/*  **********  */
@media screen and (min-width: 769px) {
  .postcard .media.postcard__text:before { background: var(--postcard-background-color); }
  .green::before { background-image: linear-gradient(-80deg, var(--green-gradient), transparent 50%); }
  .green:nth-child(2n)::before { background-image: linear-gradient(80deg, var(--green-gradient), transparent 50%); }
  .blue::before { background-image: linear-gradient(-80deg, var(--blue-gradient), transparent 50%); }
  .blue:nth-child(2n)::before { background-image: linear-gradient(80deg, var(--blue-gradient), transparent 50%); }
  .red::before { background-image: linear-gradient(-80deg, var(--red-gradient), transparent 50%); }
  .red:nth-child(2n)::before { background-image: linear-gradient(80deg, var(--red-gradient), transparent 50%); }
  .yellow::before { background-image: linear-gradient(-80deg, var(--yellow-gradient), transparent 50%); }
  .yellow:nth-child(2n)::before { background-image: linear-gradient(80deg, var(--yellow-gradient), transparent 50%); }
  .purple::before { background-image: linear-gradient(-80deg, var(--purple-gradient), transparent 50%); }
  .purple:nth-child(2n)::before { background-image: linear-gradient(80deg, var(--purple-gradient), transparent 50%); }
}
/*   **********   COLORS   **********   */
#tag_list button:hover { font-weight: 700; }
.postcard { box-shadow: 0 4px 21px -12px #000000a8; border-radius: 10px; }
.postcard:before { content: ""; position: absolute; top: 0; right: 0; bottom: 0; left: 0; opacity: 1; border-radius: 10px; }
.postcard:hover .postcard__bar { width: 6.25vw; }
.postcard a { color: inherit; }
.postcard h1, .postcard .h1 { margin-bottom: 0.5rem; font-weight: 500; line-height: 1.2; }
.postcard .small { font-size: 80%; }
.postcard .postcard__text { z-index: 1; padding: 1.5rem; position: relative; display: flex; flex-direction: column; }
.postcard .postcard__title { font-size: 1.75rem; }
.postcard .postcard__img { max-height: 11.25vh; width: 100%; object-fit: cover; }
.postcard .postcard__img_link { display: contents; }
.postcard .postcard__bar { width: 3.125vw; height: 0.625vh; margin: 10px 0; border-radius: 5px; transition: width .2s ease; }
.postcard .postcard__preview-txt { overflow: hidden; text-overflow: ellipsis; text-align: justify; height: 100%; }
.postcard .postcard__tagbox { flex-wrap: wrap; font-size: 14px; margin: 20px 0 0; padding: 0; justify-content: center; }
.postcard .postcard__tagbox .tag__item { display: inline-block; border-radius: 3px; padding: 2.5px 10px; margin: 0 5px 5px 0; cursor: default; user-select: none; transition: background-color 0.3s; }

@media screen and (min-width: 769px) {
  .postcard { flex-wrap: inherit; }
  .postcard:hover .postcard__img { transform: scale(1.1); }
  .postcard:nth-child(2n+1) { flex-direction: row; }
  .postcard:nth-child(2n+0) { flex-direction: row-reverse; }
  .postcard:nth-child(2n+1) .postcard__text::before { left: -12px !important; transform: rotate(4deg); }
  .postcard:nth-child(2n+0) .postcard__text::before { right: -12px !important; transform: rotate(-4deg); }
  .postcard .postcard__title { font-size: 2rem; }
  .postcard .postcard__tagbox { justify-content: start; }
  .postcard .postcard__img { max-width: 18.75vw; max-height: 100%; transition: transform 0.3s ease; }
  .postcard .postcard__text { padding: 3rem; width: 100%; }
  .postcard .media.postcard__text:before { content: ""; position: absolute; top: -20%; height: 130%; width: 3.4375vw; z-index: -5; }
}
@media screen and (min-width: 1024px) {
  .postcard__text { padding: 2rem 3.5rem; }
  .postcard__text:before { content: ""; position: absolute; top: -20%; height: 130%; width: 3.4375vw; }
}
